@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Kaushan+Script&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Kaushan Script', cursive;
  background-color: rgb(238, 238, 238);
  color: #000000;
}